html 
{
	font-family: "Lucida Sans", sans-serif;
}
 
body
{
	margin:0 0;
}

.site-header
{
	height:200px;
	margin:0 0;
	background-color:#81BEF7;
}

.title
{
	margin:10px 0 0 20px;
	text-align:left;
	width:60%;
	height:140px;
	color:#FFFFFF;
	float:left;
	border-bottom:2px solid #000000;
}

.login
{
	text-align:right;
	margin:10px 0 0 0;
	width:38%;
	height:140px;
	float:left;
	color:#FFFFFF;
	border-bottom:2px solid #000000;
}

.page-bar
{
	margin:10px 0 0 20px;
	width:1000px;
	float:left;
	color:#FFFFFF;
}

.page-bar ul
{
	margin:0;
	padding:0;
	list-style:none;
}

.page-bar ul li
{
	float:left;
	position:relative;
}
 
.page-bar ul li a
{
	display:block;
	width:150px;
	background-color:#81BEF7;
	color:#FFFFFF;
	font:bold 10px;
	text-decoration:none;
	padding:5px 0;
	border:1px solid #000000;
	text-align:center;
}
 
.page-bar ul li a:hover
{
	background-color:#2E64FE;
	color:#FFFFFF;
}
  
.page-bar ul li ul
{
	display:none;
	position:absolute;
	left:0;
	top:31px;
}

.page-bar ul li:hover ul
{
	display:block;
}
 
footer
{
	padding:5px;
	text-align:center;
	background-color:#81BEF7;
}
