html 
{
	font-family: "Lucida Sans", sans-serif;
}
 
body
{
	position: relative;
    min-height: 100vh;
	margin:0 0;
}

.site-header
{
	height:auto;
	margin:0 0;
	background-color:#81BEF7;
}

.title
{
	margin:10px 0 0 0;
	text-align:left;
	color:#FFFFFF;
}

#title-text
{
	position: relative;
	left: 20px;
}

.center-title {
	margin-top: 20px;
	padding: 20px;
	text-align: center;
	border: 2px solid black;
	background: lightgray;
}

#imgs
{
	width: 100%;
	height: auto;
}

.imgbox
{
	text-align: center;
	border: 2px solid black;
}

#desc
{
	text-align: left;
}

.main
{
	padding-bottom: 50px;
}

.text
{
	margin-top: 20px;
	text-align: left;
	border: 2px solid black;
}

.outer {
	margin-top: 20px;
	padding: 2px;
	background: lightgray;
}

.inner {
  	background: white;
}

.outer > h3, .inner {
 	margin: 10px;
  	padding: 1px;
}

.inner > h4, p {
  	margin: 5px;
}

.new {
	border: 2px solid black;
}

.slider {
	padding: 20px;
	margin-top: 20px;
	background: lightgray;
}

.site-footer
{
	position:absolute;
	bottom:0;
	width:100%;
	min-height:30px;
	padding: 5px;
	text-align:center;
	background-color:#81BEF7;
	color:#FFFFFF;
}

.navbar.navbar-dark
{
	background-color:#81BEF7;
}

.navbar.navbar-dark .navbar-nav > li > a 
{
	color:#FFFFFF;
}

.navbar.navbar-dark .navbar-nav > li > a:hover
{
	color:#FFFFFF;
}

.navbar .nav-item:hover .nav-link
{ 
	background-color:#2E64FE;
}

.navbar .nav-item:hover .dropdown-menu
{ 
	background-color:#81BEF7;
}

.navbar .nav-item:hover .dropdown-menu .dropdown-item
{ 
	color:#FFFFFF;
}

.navbar .nav-item:hover .dropdown-menu .dropdown-item:hover
{ 
	background-color:#2E64FE;
}

@media all and (min-width: 576px) {
	.navbar .nav-item .dropdown-menu{ display:none; }
	.navbar .nav-item:hover .dropdown-menu{ display:block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

@media all and (max-width: 576px) {
	.navbar .nav-item .dropdown-menu{ display:none; }
	.navbar .nav-item:hover .dropdown-menu{ display:block; }
	.navbar .nav-item .dropdown-menu{ margin-left:0; }
}
